body {
	background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: gradient 15s ease infinite;
	text-align: center;
}

@media (max-width: 800px) {
	h1 {
		font-size: 18vw !important;
		margin-top: 50% !important;
	}

	h1 span {
		font-size: 10vw !important;
	}

	span.hash {
		font-size: 4vw !important;
	}
}

h1 {
	margin-top: 12%;
	font-size: 10vw;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 4px;
}

h1 span {
	font-size: 5vw;
	font-family: 'Roboto Mono', monospace;
}

span.hash {
	font-size: 2vw;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
}

span.hash a {
	color: #eceff1;
	text-decoration: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}